body {
    background-color: #f6ebf4;
    font-family: Snell Roundhand, cursive;
    color: #482673;
}


.page-title h1 {
    display:flex;
    justify-content: center;
    font-size: 70px;
    text-shadow: 1px 1px 2px #ea18f9;
}

.tiles-container {
    display: flex;
    justify-content: center;
    height: 600px;
}

.options {
    display:grid;
    /* justify-content: center; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    width: 300px;
    height: 600px;
    row-gap: .25px;
}

.square {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border: 1px solid #000;
    border-radius: 5px;
}

.square + .square {
    border-top: none;
}

.square .options-child {
    place-self:center;
}

.options-child h4 {
    text-align:center;
}

#sizing {
    text-align:center;
    width: 100px;
}

.tiles-button {
    justify-content: space-between;
}

.tiles-box {
    display:grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 600px;
    width: 600px;
    border-radius: 5px;
}

.tile {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}